<!doctype html>
<html>
  <head>
    <title>Todo List App</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lato|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="todoApp" class="todoListApp">
      <h1>My TODOs</h1>
      <div ng-controller="mainCtrl" class="list">
        <div ng-repeat="todo in todos" class="item">
          <input ng-model="todo.completed" type="checkbox">
          <label ng-hide="editing" class=""> {{ todo.name }}</label>
          <input ng-blur="editing = false" ng-show="editing" ng-model="todo.name" type="text" class="editing-label">
          <div class="actions">
            <a href="" class="edit" ng-click=" editing = !editing ">Edit</a>
            <a href="" class="save" ng-click="whoIAm()">Save</a>
            <a href="" class="delete">Delete</a>
          </div>
        </div>
      </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="src/app.js"></script>
  <script src="src/hello-world.js"></script>
</html>
