<div class="list">
        <div class="add">
        <a href="" ng-click="addTodo()">+ add a task</a>
        </div>
        <div ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false" class="item" ng-class="{'completed' : todo.completed}">
          <input ng-model="todo.completed" type="checkbox">
          <label ng-hide="editing" class=""> {{ todo.name }}</label>
          <input ng-blur="editing = false" ng-show="editing" ng-model="todo.name" type="text" class="editing-label">
          <div class="actions">
            <a href="" class="edit" ng-click=" editing = !editing ">Edit</a>
            <a href="" class="save" ng-click="saveTodo(todo)">Save</a>
            <a href="" class="delete" ng-click="deleteTodo(todo, $index)">Delete</a>
          </div>
        </div>
      </div>
